*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFFFFF;
    color: #111111;
    font-family: 'Josefin Sans','ヒラギノ角ゴ','Noto Sans JP',sans-serif;
    width: 1440px;
}
header {
    display: flex;
    width: 1440px;
    height: 950px;
}
.logo1 {
    margin: 41px 142px 0px 40px;
}
.mv {
    justify-content: flex-end;
    border-radius: 0 0 0 90px;
}
.nav {
    position: absolute;
    top: 49px;
    left: 774px;
    width: 660px;
    height: 28px;
    font: 28px/10px 'Josefin Sans','sans-serif';
    font-weight: 600;
    color: #00B21B;
}
.nav a {
     padding: 0px 30px 0px 0px;
}
.subcopy1Wrap {
    text-align: center;
    background-color: #FFFFFF;
    width: 465px;
    height: 91px;
    position: absolute;
    top: 222px;
    right: 821px;
    left: 163px;
}
.copy1 {
    font: italic 90px/90px 'Josefin Sans','sans-serif';
    width: 457px;
}
.subcopy2Wrap {
    text-align: center;
    background-color: #FFFFFF;
    width: 376px;
    height: 93px;
    position: absolute;
    top: 312px;
    right: 911px;
    left: 153px;
}
.copy2 {
    text-align: left;
    font: italic 90px/90px 'Josefin Sans','sans-serif';
}
.green {
    display: inline-block;
    color: #00B21B;
    padding: 0px 40px 0px 10px;
}
.green2 {
    display: inline-block;
    color: #00B21B;
    font: 700 26px/26px 'Josefin Sans','sans-serif';
    margin-top:10px;
}
.green3 {
    display: inline-block;
    color: #00B21B;
    font: 700 26px/26px 'Josefin Sans','sans-serif';
    margin: 5px 0px 0px 3px;
}
.subcopy3Wrap {
    text-align: center;
    background-color: #FFFFFF;
    width: 488px;
    height: 41px;
    position: absolute;
    top: 425px;
    right: 799px;
    left: 153px;
}
.copy3 {
    font: 700 28px/28px 'ヒラギノ角ゴ','sans-serif';
    padding: 7px 3px 6px 12px;
}
.topbtnWrap {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 500px;
    right: 799px;
    left: 153px;
}
.copy4 {
    background-color: #00B21B;
    border-radius: 50px;
    text-align: center;
    font: 700 20px/20px 'ヒラギノ角ゴ','sans-serif';;
    letter-spacing: 1.4px;
    width: 370px;
    height: 80px;
    padding-top: 30px;
    color: #FFFFFF;
}
.maincopy {
    color: #00B21B;
    text-align: center;
    font: italic 700 108px/100px 'Josefin Sans','sans-serif';
    letter-spacing: 1.08px;
    width: 940px;
    height: 108px;
    position: absolute;
    top: 659px;
    right: 234px;
    left: 269px;
}
.headtext {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 777px;
    left: 370px;
}
.subcopy {
    color: #00B21B;
    font: 700 32px/32px 'ヒラギノ角ゴ','sans-serif';
    letter-spacing: 3.2px;
    width: 500px;
    margin-bottom: 20px;
}
.headerp {
    display: flex;
    justify-content: center;
    font: 300 16px/32px 'ヒラギノ角ゴ','sans-serif';
    width: 705px;
    height: 112px;
}
#about {
    width: 1440px;
    height: 1380px;
}
#about img {
    margin-top: 71px;
}
.training {
    background-color: #FFFFFF;
    width: 555px;
    height: 495px;
    border-radius: 8px;
    position: relative;
    bottom: 475px;
    left: 865px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}
.training h4 {
    color: #00B21B;
    font: 400 24px/24px 'Josefin Sans','sans-serif';
    padding: 60px 406px 0px 60px;
}
.training h3 {
    color: #111111;
    font: 700 32px/48px 'ヒラギノ角ゴ','sans-serif';
    padding: 20px 110px 0px 60px;
}
.training p {
    color: #111111;
    font: 300 16px/28.8px 'ヒラギノ角ゴ','sans-serif';
    padding: 10px 60px 61px 60px;
}
.foodpic {
    display: block;
    margin-left: auto;
    position: relative;
    bottom: 440px;
}
.food {
    background-color: #FFFFFF;
    width: 555px;
    height: 446px;
    border-radius: 8px;
    position: relative;
    bottom: 860px;
    left: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}
.food h4 {
    color: #00B21B;
    font: 400 24px/24px 'Josefin Sans','sans-serif';
    padding: 61px 442px 21px 60px;
}
.food h3 {
    color: #111111;
    font: 700 32px/48px 'ヒラギノ角ゴ','sans-serif';
    padding: 0px 0px 0px 60px;
}
.food p {
    color: #111111;
    font: 16px/28.8px 'ヒラギノ角ゴ','sans-serif';
    padding: 10px 60px 44px 60px;
}
#ourtrainer {
    color: #FFFFFF;
    background-color: #00B21B;
    padding-bottom: 10px;
}
#ourtrainer h2 {
    font: 400 64px/64px 'Josefin Sans','sans-serif';
    padding: 44px 937px 0px 165px;
}
#ourtrainer h3 {
    font: 600 20px/20px 'ヒラギノ角ゴ','sans-serif';
    padding: 7px 500px 80px 170px;
    border-bottom: 2px solid #FFFFFF;
    margin: 0px 170px;
}
.trainer {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.trainer img {
    border-radius: 10px 10px 0px 0px;
}
.trainer p {
    font: 300 15px/25.5px 'ヒラギノ角ゴ','sans-serif';
    margin: 20px 20px 52px 20px;
}
.trainer1 {
    background-color: #FFFFFF;
    color:#111111;
    border-radius: 10px;
    width: 360px;
    height: 463px;
}
.trainer2 {
    background-color: #FFFFFF;
    color:#111111;
    border-radius: 10px;
    width: 360px;
    height: 463px;
}
.trainer3 {
    background-color: #FFFFFF;
    color:#111111;
    border-radius: 10px;
    width: 360px;
    height: 463px;
}
.invert {
    transform: scale(-1, -1);
}
#studio {
    margin: 15px 0px 97px 0px;
}
#studio h2 {
    font: 400 64px/64px 'Josefin Sans','sans-serif';
    margin: 0px 1091px 5px 165px;
}
#studio p {
    color: #00B21B;
    font: 600 20px/20px 'ヒラギノ角ゴ','sans-serif';
    margin: 0px 1195px 0px 165px;
}
#studio img {
    align-items: center;
    margin: 41px 165px 0px 165px;
}
#price {
    background-color: #00B21B;
    padding-bottom: 40px;
}
#price h1 {
    color: #FFFFFF;
    font: 400 64px/64px 'Josefin Sans','sans-serif';
    padding: 41px 1134px 0px 165px;
}
#price p {
    color: #FFFFFF;
    font: 300 20px/20px 'ヒラギノ角ゴ','sans-serif';
    margin: 5px 1235px 44px 165px;
}
.priceArticle {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
    margin: 42px 111px 0px 112px;
}
.once {
    background-color: #FFFFFF;
    color:#111111;
    border-radius: 10px;
    width: 350px;
    height: 437px;
    text-align: center;
}
.twice {
    background-color: #FFFFFF;
    color:#111111;
    border-radius: 10px;
    width: 350px;
    height: 437px;
}
.unlimited {
    background-color: #FFFFFF;
    color:#111111;
    border-radius: 10px;
    width: 350px;
    height: 437px;
}
.priceArticle h3  {
    color: #00B21B;
    font: 600 20px/20px 'ヒラギノ角ゴ','sans-serif';
    margin: 42px 111px 0px 112px;
}
.priceArticle h2 {
    color: #111111;
    font: 400 48px/48px 'Josefin Sans','sans-serif';
    margin: 10px 81px 0px 81px;
}
.membership {
    display: inline-block;
    font: 300 18px/18px 'ヒラギノ角ゴ','sans-serif';
    margin-bottom: 20px;
}
.priceArticle dt {
    color: #111111;
    font: 400 18px/18px 'Noto Sans JP','sans-serif';
    border-top: 1px solid #D8D8D8;
    padding-top: 20px;
    padding-bottom: 11px;
    margin: 0px 30px 0px 30px;
}
.priceArticle dd {
    color: #111111;
    font: 600 16px/16px 'Noto Sans JP','sans-serif';
    padding-bottom: 20px;
}
.recommend {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    color: #00B21B;
    font: 600 20px/20px 'Noto Sans JP','sans-serif';
    border-radius: 70px;
    border: 2px solid #111111;
    width: 256px;
    height: 45px;
    padding: 9px;
    position: absolute;
    top: 4430px;
    left: 590px;
}
#faq h2 {
    font: 400 64px/64px 'Josefin Sans','sans-serif';
    margin: 0px 1091px 5px 165px;
}
#faq p {
    color: #00B21B;
    font: 600 20px/20px 'ヒラギノ角ゴ','sans-serif';
    margin: 0px 1135px 42px 165px;
}
#faq dl {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 42px 180px 30px 165px;
}
#faq dt {
    font: 300 15px/15px 'ヒラギノ角ゴ','sans-serif';
}
#faq dd {
    font: 300 15px/15px 'ヒラギノ角ゴ','sans-serif';
    padding-bottom: 15px;
}
.q1 {
    display: inline-block;
    padding: 0px 0px 0px 20px;
}
.boder {
    display: inline-block;
    font: 300 15px/15px 'ヒラギノ角ゴ','sans-serif';
    border-bottom: 1px solid #D8D8D8;
}
.a1 {
    font: 300 15px/15px 'ヒラギノ角ゴ','sans-serif';
    padding-left: 20px;
}
.a1-2 {
    font: 300 15px/15px 'ヒラギノ角ゴ','sans-serif';
    padding-left: 20px;
}
footer {
    display: inline-block;
    text-align: center;
}
.fotterBgc {
    background-color: #111111;
    height: 223px;
}
.footBtnWrap {
    background-color: #00B21B;
    width: 1440px;
    height: 279px;
    padding: 130px;
}
.footBtn {
    background-color: #FFFFFF;
    color: #00B21B;
    font: 600 20px/20px 'ヒラギノ角ゴ','sans-serif';
    border-radius: 50px;
    padding: 30px 50px;
}
.logo2 {
    margin: 71px 621px 40px 621px;
}
.nav2 {
    display: flex;
    justify-content: space-between;
    width: 660px;
    height: 24px;
    font: 600 24px/24px 'Josefin Sans','sans-serif';;
    color: #FFFFFF;
    margin: 0 auto;
}
.topbadgeWrap {
    position: relative;
    left:  1330px;
    bottom: 50px;
    background-color: #FFFFFF;
    border-radius: 100%;
    width: 80px;
    height: 80px;    
}
.arrow {
  position: relative;
  display: inline-block;
  width: 23.76px;
  height: 14px;
  padding: 40px 40px;
}
.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  top: 30px;
  left: calc(50% - 2.5px);
  width: 5px;
  height: 20px;
  border-radius: 9999px;
  background-color: #00b21b;
  transform-origin: 50% 2px;
}
.arrow::before {
  transform: rotate(45deg);
}
.arrow::after {
  transform: rotate(-45deg);
}